* {
  box-sizing: border-box;
}

/* 
  These rules apply to actual HTML elements with no labelling!
  So: they style the tags directly
*/

html {
  background-color: #FEFAE0;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #283618
}

body {
  margin: 0;
  padding: 0;

  font-family: 'IBM Plex Mono';
  font-weight: 400;
  line-height: 1.5;
  
}

a {
  display: inline-block;
  text-decoration: none;
}

h2, h3 {
  margin:0;
  padding:0;
  padding-bottom:1rem;
  color: #FEFAE0;
  align-items: center;
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);

}

/*
  - These styles use 'class names'
  - You can apply them by using the 'class' attribute on your HTML
  - like this: <div class="wrapper">
  - note that the period vanishes there!
*/

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.container {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex:1;
  
}
/*header {
  display: flex;
  align-items: center;
}*/
header {
  display: flex;
  align-items: center;

  /* colors */
  
  color: #FEFAE0;
  
  font-size: 1.5rem;
  padding-left: 24px;
  margin: 0; /* margin = 0, the header pins to the top if we move */
}

h1 {
  font-weight: bolder;
  font-size: 42px;
  word-spacing: 10px;
  letter-spacing: 8px;
}

.box {
  
  border-radius: 4px;

  height:fit-content;
  padding-top: 0;
  margin: 0 auto;
}

.left_section {
  background-color: #606C38;
  flex: 0 1 auto;
  margin: 1rem;
  padding: 1.5rem;
  align-items: center;
}

.right_section {
 
  flex: 1 2 auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  color: #FEFAE0;
  margin: 0px;
  margin-bottom: 5px;
}

/* .carousel_item, */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/*for speech bubble*/
.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background-color: #ff0000;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: end;
}

.alertBox {
  background-color: #ff0000;
  border-radius: 4px;

  width: fit-content;
  height:fit-content;
  /*padding: 1.5rem;*/
  margin: 0 auto;
}

div .alertBox {
  color: #FEFAE0;
  font-style: italic;
  font-family: 'IBM Plex Mono';
}

.bot {
  max-width: 300px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  flex: 1 2 auto;
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*Image sizes*/
.alIcon {
  width: 50px;
  height: 40px;
}

.alBot {
  width: 330px;
  height: 400px;
  align-items: start;
}

/* Form Styles */
button {
  background-color: #FEFAE0;
  color: #283618;
}

form input {
  /* This is a hack to make sure our boxes line up with one another nicely */
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;

  /* here we are setting white space correctly */
  height: 2rem;
  border-radius: 4px;
  background-color: #283618;
  color: #FEFAE0;
  margin-bottom: 0.5rem;
}

form label {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;
  color: #FEFAE0;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 736px){
  /* Rules in here will only apply when a screen is the correct size */
  /* check it out by using your developer tools to shrink your screen-size */
  .container {
    background-color: #283618;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .right_section {
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
  }

  .left_section {
    flex: 1 1 auto;
    align-items: center;
  }

  .box {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    align-items: flex-start;  
  }
}

.chart_container {
  height: 350x;
  width: 600px;

}